@using PixelCMS.Core.Models
@model IEnumerable<Post>
@{
    pixelcmsEntities db = new pixelcmsEntities();
    var currentlang = PixelCMS.Helpers.CultureHelper.GetCurrentNeutralCulture();
    var MaxPrice = Model.OrderByDescending(x => x.Price).FirstOrDefault();
    var MinPrice = Model.OrderBy(x => x.Price).FirstOrDefault();
    Layout = null;

    var vari = new List<Variant>();
    foreach (var item in Model)
    {
        var danhsach = item.VariantAttributes;
        foreach (var att in danhsach)
        {
            var a = att.Variants.ToList();
            vari.AddRange(a);
        }
    }
    var VariInList = vari.GroupBy(x => x.OptionVariant, x => x.OptionVariant.GroupVariant,
                         (key, g) => new { optname = key.Name, optid = key.Id, group = g.ToList() }).ToList();
}
@*<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">*@
@*<script src="~/Scripts/jquery-1.8.2.js"></script>*@
@*<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>*@


<aside class="col-lg-3 col-md-3 col-sm-3 col-xs-3 offcanvas-sidebar">
    <div class="title-sidebar"><i class="fa fa-search"></i>Lọc sản phẩm theo ý bạn</div>
    <div class="module">
        <div class="title-bar">
            <p>Mức giá</p>
            <span class="my-collapse"><i class="fa fa-angle-up"></i></span>
            <span class="my-collapse my-expand" style="display: none;"><i class="fa fa-angle-down"></i></span>
        </div>
        <div class="module-content clearfix">
            <div class="" style="float: left">
                <p>
                    <label for="amount">Price range:</label>
                    <input type="text" id="amount" readonly style="border: 0; color: #f6931f; font-weight: bold;">
                </p>
                <div id="range"></div>
                <script>
                    $(function () {
                       
                        $("#range").slider({
                            range: true,
                            min:  @(MinPrice != null ? (MinPrice.Price != null ? MinPrice.Price : 0) : 0),
                            max: @(MaxPrice != null ? (MaxPrice.Price != null ? MaxPrice.Price : 0) : 0),
                            values: [0, @(MaxPrice != null ? (MaxPrice.Price != null ? MaxPrice.Price : 0) : 0)],
                            slide: function (event, ui) {
                                $("#amount").val(ui.values[0].format(0, 3, '.', ',')+ "₫ - " + ui.values[1].format(0, 3, '.', ',')+ "₫" );
                            }
                        });
                        $("#amount").val($("#range").slider("values",0).format(0, 3, '.', ',') +
                            "₫ - " + $("#range").slider("values", 1).format(0, 3, '.', ',')+"₫" );
                    });
          
                   

                    $(function() {
                        
                        var selectedIdsGroup = [];

                        $("#range").on( "slidechange", function( event, ui ) {
                            
                            var values = $("#range").slider("values");
                            var s = selectedIdsGroup.join(",");
                            var min = values[0];
                            var max = values[1];
                            var left0 = $("#range>span:eq(0)").css("left");
                            var left1 = $("#range>span:eq(1)").css("left");
                            //chay lai check box
                            var urlnew = document.location.href;
                            //cat #
                            var zn = urlnew.split('#');
                            var bn = zn[2];
                            if (bn != undefined) {
                                var listidn = bn.split(',');
                                if (listidn != "") {
                                    //clear all not operation
                                    //$('.ajax-filter-block input[type=checkbox]').attr('checked', false);
                                    for (var j = 0; j < listidn.length; j++) {
                                        //clear checkbox
                                        $("#" + listidn[j]).attr('checked', false);
                                        //click lai
                                        $("#" + listidn[j]).click();
                                    }
                                }
                            }
                            document.location.href = '#' + left0 + ":" + left1 + ":" + min + ":" + max + '#' + s;


                            var imin = $("#current-price-min").val();
                            var imax = $("#current-price-max").val();
                            
                            var percent = $("#percent").val();
                            if (imin!="") {
                                values[0] = imin;
                                $("#current-price-min").val("");
                            }
                            if (imax!="") {
                                values[1] = imax;
                                $("#current-price-max").val("");
                            }
                            var manuft = $("#manu").val();
                            var attr= $("#Attribute").val();
                            var url = '@Url.Action("ProductGrid")?slug=' + '@ViewBag.slug' + '&minprice=' + values[0] + '&maxprice=' + values[1] + '&manuft=' + manuft+ '&attributies=' + attr+ '&percent=' + percent;
                            $("#update1").load(url);
                            $("#amount").val(+ values[0] +"₫ - "+ values[1] +"₫");
                        } );
                        //$("#range").trigger( "slidechange" );
                        
                        //dropdow thuong hieu
                        $("#manu").change(function() {
                            var percent = $("#percent").val();
                            var values = $("#range").slider("values");
                            var manuft = $("#manu").val();
                            var attr= $("#Attribute").val();
                            var url = '@Url.Action("ProductGrid")?slug=' + '@ViewBag.slug' + '&minprice=' + values[0] + '&maxprice=' + values[1] + '&manuft=' + manuft+ '&attributies=' + attr+ '&percent=' + percent;
                            $("#update1").load(url);
                        });
                        //% giảm giá
                        $(".percent a").click(function() {
                            //gán giá trị % giảm vào hiden percent
                            $(".percent a").css("color","#333");
                            $(this).css("color","#eb6864");
                            $("#percent").val($(this).attr("att_percent")) ;
                            var percent = $("#percent").val();
                            var values = $("#range").slider("values");
                            var manuft = $("#manu").val();
                            var attr= $("#Attribute").val();
                            var url = '@Url.Action("ProductGrid")?slug=' + '@ViewBag.slug' + '&minprice=' + values[0] + '&maxprice=' + values[1] + '&manuft=' + manuft+ '&attributies=' + attr+ '&percent=' + percent;
                            $("#update1").load(url);
                        });

                        //check box attribute
                        $('#attfilter input').on('change', function () {
                            var selectedIds = [];
                            //cho checkbox và radio
                            $('#attfilter input').each(function (parameters) {
                                var $check = $(this);
                                var checked = jQuery.inArray($check.val(), selectedIds);
                                if ($check.is(":checked") == true) {
                                    //tìm trong m?ng
                                    //=-1 là ko có trong m?ng .thêm vào m?ng
                                    if (checked == -1) {
                                        selectedIds.push($check.val());
                                        //add id to selectedIds.
                                    }
                                }
                            });
                            $("#Attribute").val(selectedIds.sort());
                            //load
                            var percent = $("#percent").val();
                            var values = $("#range").slider("values");
                            var manuft = $("#manu").val();
                            var attr= $("#Attribute").val();
                            var url = '@Url.Action("ProductGrid")?slug=' + '@ViewBag.slug' + '&minprice=' + values[0] + '&maxprice=' + values[1] + '&manuft=' + manuft+ '&attributies=' + attr+ '&percent=' + percent;
                            $("#update1").load(url);
                        });
                        

                        // lấy lại lịch sử khi chuyển trang rồi back lại cho filter----------------------
                        
                        //lay duong dan (window.location.href)
                        var urlhost = document.location.href;
                        //cắt dấu #
                        var z = urlhost.split('#');
                        var b = z[2];
                        //nếu có giá trị của thuộc tính các checkbox
                        if (b != undefined) {
                            var listid = b.split(',');
                            if (listid != "") {
                                //clear all not operation
                                //$('.ajax-filter-block input[type=checkbox]').attr('checked', false);
                                for (var i = 0; i < listid.length; i++) {
                                    //clear checkbox
                                    $("#" + listid[i]).attr('checked', false);
                                    //click lai
                                    $("#" + listid[i]).click();
                                }
                            }
                        }
        
                        var c = z[1];
                        //nếu có giá trị của slider
                        if (c != undefined) {
                            var sl = c.split(':');
                            if (sl != "") {
                                $("#range>span:eq(0)").css("left", sl[0]);
                                $("#range>span:eq(1)").css("left", sl[1]);
                                $('#current-price-min').val(sl[2]);
                                $('#current-price-max').val(sl[3]);
                                // auto change slider khi back
                                $("#range").trigger( "slidechange" );
                            }
                        }
        
                        //change check box
                        $("#attfilter").on('change', 'input[type=checkbox]', function (e) {
                            var $check = $(this);
                            if ($check.is(":checked") == true) {
                                var checked1 = jQuery.inArray($check.attr('id'), selectedIdsGroup);
                                if (checked1 == -1) {
                                    //add id to selectedIds.
                                    selectedIdsGroup.push($check.attr('id'));
                                }
                            }
                            else {
                                var checked = jQuery.inArray($check.attr('id'), selectedIdsGroup);
                                if (checked > -1) {
                                    //remove id from selectedIds.
                                    selectedIdsGroup = $.grep(selectedIdsGroup, function (item, index) {
                                        return item != $check.attr('id');
                                    });
                                }
                            }
                            var left0 = $("#range>span:eq(0)").css("left");
                            var left1 = $("#range>span:eq(1)").css("left");
                            var min = $('#current-price-min').val();
                            var max = $('#current-price-max').val();
                            var s = selectedIdsGroup.join(",");
                            //add s on url
                            document.location.href = '#' + left0 + ":" + left1 + ":" + min + ":" + max + '#' + s;
                        });
                        //End lấy lại lịch sử khi chuyển trang cho filter----------------------
                    });

                </script>

            </div>
        </div>
        <!-- End module-content -->
    </div>
    <!-- End module -->
    <div class="percent">
        <input type="hidden" id="percent" />
        <div class="module">
            <div class="title-bar">
                <p>Khuyến mãi</p>
                <span class="my-collapse" style="display: block;"><i class="fa fa-angle-up"></i></span>
                <span class="my-collapse my-expand" style="display: none;"><i class="fa fa-angle-down"></i></span>
            </div>
            <div class="module-content clearfix" style="overflow: hidden; display: block;">
                <ul class="filter-promotion">
                    <li><a href="#" att_percent="10"><i class="fa fa-usd"></i>Dưới 10%</a></li>
                    <li><a href="#" att_percent="20"><i class="fa fa-usd"></i>10% - 20%</a></li>
                    <li><a href="#" att_percent="30"><i class="fa fa-usd"></i>20% - 30%</a></li>
                    <li><a href="#" att_percent="40"><i class="fa fa-usd"></i>30% - 50%</a></li>
                    <li><a href="#" att_percent="50"><i class="fa fa-usd"></i>Trên 50%</a></li>
                </ul>
            </div>
        </div>
        <!-- End module-content -->
    </div>



    <!-- End module -->
    <div class="module">
        <div class="title-bar">
            <p>Thương hiệu</p>
            <span class="my-collapse" style="display: block;"><i class="fa fa-angle-up"></i></span>
            <span class="my-collapse my-expand" style="display: none;"><i class="fa fa-angle-down"></i></span>
        </div>
        <div class="module-content clearfix" style="overflow: hidden; display: block;">
            <div>
                @* <label style="float: left">Lọc theo thương hiệu</label>*@
                @Html.DropDownList("manu", null, "Chọn", new { @class = "form-control input-sm" })
            </div>
            @* <ul class="filter-brand">
                <li class="active"><a href="#"><i class="fa fa-angle-double-right"></i>Tất cả</a></li>
                <li><a href="#"><i class="fa fa-angle-double-right"></i>Sensorial (501)</a></li>
                <li><a href="#"><i class="fa fa-angle-double-right"></i>Labella (428)</a></li>
                <li><a href="#"><i class="fa fa-angle-double-right"></i>Como (403)</a></li>
                <li><a href="#"><i class="fa fa-angle-double-right"></i>Amour (356)</a></li>
                <li><a href="#"><i class="fa fa-angle-double-right"></i>Yes's (311)</a></li>
            </ul>*@
        </div>
        <!-- End module-content -->
    </div>
    <!-- End module -->
    <!-- chỉ load các thuộc tính có trong sp-->
    <div id="attfilter">
        <input type="hidden" id="Attribute" />
        @foreach (var group in vari.GroupBy(x => x.VariantAttribute.GroupVariant.Name))
        {
            <div class="module">
                <div class="title-bar">
                    <p>@group.Key</p>
                    <span class="my-collapse" style="display: block;"><i class="fa fa-angle-up"></i></span>
                    <span class="my-collapse my-expand" style="display: none;"><i class="fa fa-angle-down"></i></span>
                </div>
                <div class="module-content clearfix Group" style="overflow: hidden; display: block;" attname="@group.Key">
                    <ul class="filter-color clearfix">
                        @foreach (var child in VariInList.Where(x => x.group.FirstOrDefault().Name == group.Key).Distinct())
                        {
                            var count = vari.Where(x => x.OptionVariant.Name == child.optname).Count();
                            <li>
                                <input  type="checkbox" name="@child.optname" value="@child.optid" id="@child.optid"/>
                                <label  for="@child.optid">@(child.optname + "(" + count + ")")</label>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        }
    </div>
</aside>
<!-- aside -->

<style>
    .float-left
    {
        float: left;
        margin-right: 15px;
        padding-top: 3px;
        margin-top: 0px;
    }

    #manu
    {
        width: 100%;
    }

    .Group label
    {
        margin-left: 5px;
        font-size: 11px;
        /* color: black;*/
        text-transform: uppercase;
        width: 40px;
        font-weight: lighter;
    }
</style>


<input type="hidden" id="current-price-min">
<input type="hidden" id="current-price-max">
