@model PixelCMS.Core.Models.OptionVariant

@{
    ViewBag.Title = "sửa thuộc tính biến thể ";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/colorpicker/jscolor.js"></script>
<section id="main">

    <div class="container">
        <div class="head">
            <div class="isw-cloud"></div>
            <h1>Tạo thuộc tính biến thể</h1>
            <div class="clear"></div>
        </div>
        <div class="block-fluid table-sorting" style="float: left; width: 100%;">
            <div class="sixteen columns">

                @using (Html.BeginForm())
                {
                    @Html.HiddenFor(model => model.Id)
                    @Html.ValidationSummary(true)
                    <aside id="control">
                        <div>
                            <input type="submit" value="Sửa" class="btn btn-blue" />
                            <a href="@Url.Action("Index")" class="btn"><i class="fa fa-chevron-left"></i>Quay lại</a>
                        </div>
                    </aside>
                    <table class="grid form-input">
                        <tr>
                            <th colspan="2">Thông tin cơ bản</th>
                        </tr>
                        <tr>
                            <td class="label">Nhóm</td>
                            <td>@Html.DropDownList("GroupVariant_Id")
                                @Html.ValidationMessageFor(model => model.GroupVariant_Id)
                            </td>
                        </tr>
                        <tr>
                            <td class="label">Tên </td>
                            <td>
                                @Html.TextBoxFor(model => model.Name, new { minlength = "1", maxlength = "142", required = true })
                                @Html.ValidationMessageFor(model => model.Name)
                            </td>
                        </tr>
                        <tr>
                            <td class="label">Màu sắc</td>
                            <td>
                                @Html.TextBoxFor(model => model.Color, new { @class = "color" })
                                (Dành cho thuộc tính màu sắc)
                           @* <input name="Color" class="color" value="ffffff">*@
                            </td>
                        </tr>
                    </table>
                }

            </div>
        </div>
    </div>
</section>

