@using PixelCMS
@model IEnumerable<PixelCMS.Core.Models.Cat>
@foreach (var item in Model)
{
    pixelcmsEntities db = new pixelcmsEntities();
    var currentlang = PixelCMS.Helpers.CultureHelper.GetCurrentNeutralCulture();
    if (item.Lang != currentlang)
    {
        var Modellang = db.Cats.FirstOrDefault(x => x.Lang == currentlang && x.MainLang_Id == item.Id);
        if (Modellang != null) { item.Name = Modellang.Name; }
    }
    var Caturl = Html.Action("LoadUrl", "Common", new { type = "cat", id = item.Id });
    int count = 0;
    
    <h2>
        <span>@item.Name</span>
        <a href="@Caturl" title="" class="all">Xem tất cả</a>
    </h2>
    
    <div class="row">
        @foreach (var post in item.Posts.Where(x => x.Active).OrderByDescending(x => x.Order).ThenByDescending(x => x.Date_Create).Take(10))
        {
            /* Parallel Lang */
            if (post.Lang != currentlang)
            {
                /* Parallel Lang */
                var postlang = db.Posts.FirstOrDefault(x => x.Lang == currentlang && x.MainLang_Id == post.Id);
                if (postlang != null)
                {
                    post.Id = postlang.Id;
                    post.Title = postlang.Title;
                    post.Description = postlang.Description;
                    // post.Content = postlang.Content;
                }
            }
            /* End Parallel Lang */

            var Modelurl = Html.Action("LoadUrl", "Common", new { type = "post", id = post.Id });
            <article class="col-lg-6 col-md-6 col-sm-4 col-xs-6 news-col62 mg">
                <a href="@Modelurl" title="">
                      @if (post.Thumb != null)
                    {
                        <img src="@post.Thumb.Replace("/Upload/", "/Upload/_Thumbs/")"/>
                    }
                    <h4>@post.Title @Html.Action("AdminEdit", "Common", new { id = post.Id })</h4>
                </a>
                <p>@post.Description</p>
            </article>
        }
    </div>
}
