@model IEnumerable<PixelCMS.Core.Models.Language>

@{
    ViewBag.Title = Resources.admin_content_language;
    ViewBag.PTitle = Resources.admin_content_language;
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-info" id="edit-success" style="display: none;">
    <i class="fa fa-exclamation-circle"></i>@Resources.admin_common_edit @Resources.admin_content_language @Resources.admin_status_successfully
</div>

<section id="main">

    <div class="container">
        <div class="head">
            <div class="isw-cloud"></div>
            <h1>@Resources.admin_content_language</h1>

            <div class="clear"></div>
        </div>
        <div class="block-fluid table-sorting" style="float: left; width: 100%;">
            <div class="sixteen columns">


                @using (Html.BeginForm())
                {
                    @Html.ValidationSummary(true)

                    <aside id="control">
                        <div>
                            <input type="submit" value="@Resources.admin_common_save" class="btn btn-blue" />
                        </div>
                    </aside>
    
                    <div class="lang-list">
                        <a href="@Url.Action("Index", "Option")"><i class="fa fa-cog"></i>@Resources.admin_common_config</a>
                        <a class="active" href="@Url.Action("Language", "Option")"><i class="fa fa-exclamation"></i>@Resources.admin_lang_construction</a>
                    </div>
    
    
                    <table class="grid">
                        <tr>
                            <th>
                                @Resources.admin_lang_name
                            </th>
                            <th>
                                @Resources.admin_lang_shortcode
                            </th>
                            <th>
                                @Resources.admin_lang_flag
                            </th>
                            <th>
                                @Resources.admin_lang_construction
                            </th>

                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Code)
                                </td>
                                <td>
                                    <img src="@Html.DisplayFor(modelItem => item.Flag)" />
                                </td>
                                <td>
                                    @if (item.Construction == true)
                                    {
                                        <input checked="checked" class="check-box" data-val="true" id="Construction-@item.Code" name="Construction-@item.Code" type="checkbox" value="true">
                                    }
                                    else
                                    {
                                        <input class="check-box" data-val="true" id="Construction-@item.Code" name="Construction-@item.Code" type="checkbox" value="true">
                                    }
                                </td>
                            </tr>
                        }

                    </table>
                }

            </div>
        </div>
    </div>
</section>


@if (ViewBag.Status == "edit-done")
{ 
    <script>
        $("#edit-success:hidden:first").fadeIn("slow").delay(1500).fadeOut("slow");
    </script>
}