@using PixelCMS
@model PixelCMS.Core.Models.ShippingModel
@helper render()
{
    pixelcmsEntities db = new pixelcmsEntities();
    var city = db.Cities.ToList();
    foreach (var ct in city)
    {
    <optgroup label='@ct.Name'>
        @foreach (var dt in ct.Districts)
        {
            <option value='@dt.Id'>@dt.Name</option>
        }
    </optgroup>
    }
}
@{
    ViewBag.Title = "Shipping create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@*css scrip multiselect*@
<script src="~/Scripts/Multiselect/js/jquery.multi-select.js"></script>
<link href="~/Scripts/Multiselect/css/multi-select.css" rel="stylesheet" />
<script src="~/Scripts/Multiselect/js/jquery.quicksearch.js"></script>

<section id="main">

    <div class="container">
        <div class="head">
            <div class="isw-cloud"></div>
            <h1>Tạo Shipping</h1>

            <div class="clear"></div>
        </div>
        <div class="block-fluid table-sorting" style="float: left; width: 100%;">
            <div class="sixteen columns">
                <aside id="control">
                    <div>
                        <a href="@Url.Action("Index")" class="btn"><i class="fa fa-chevron-left"></i>@Resources.admin_common_back</a>

                    </div>
                </aside>

                @using (Html.BeginForm())
                {
                    <div style="float: right">
                        <select id='optgroup' multiple='multiple'>
                            @render()
                        </select>
                        <script>
                            $(function () {
                                var selectedIds = [];
                                //  $('#optgroup').multiSelect({ selectableOptgroup: true });
                                //search
                                $('#optgroup').multiSelect({

                                    //selectableOptgroup: true,
                                    selectableHeader: "<input type='text' class='search-input' autocomplete='off' placeholder='find \"Distric\"'>",
                                    selectionHeader: "<input type='text' class='search-input' autocomplete='off' placeholder='find \"Distric\"'>",
                                    afterInit: function (ms) {
                                        var that = this,
                                            $selectableSearch = that.$selectableUl.prev(),
                                            $selectionSearch = that.$selectionUl.prev(),
                                            selectableSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selectable:not(.ms-selected)',
                                            selectionSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selection.ms-selected';

                                        that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
                                            .on('keydown', function (e) {
                                                if (e.which === 40) {
                                                    that.$selectableUl.focus();
                                                    return false;
                                                }
                                            });
                                        that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
                                            .on('keydown', function (e) {
                                                if (e.which == 40) {
                                                    that.$selectionUl.focus();
                                                    return false;
                                                }
                                            });
                                    },
                                    afterSelect: function (values) {
                                        this.qs1.cache();
                                        this.qs2.cache();
                                        selectedIds.push(values);
                                        $("#selectedItem").val(selectedIds.join(','));
                                    },
                                    afterDeselect: function (values) {
                                        this.qs1.cache();
                                        this.qs2.cache();

                                        /*alert(values);
                                selectedIds = jQuery.grep(selectedIds, function (a) {
                                    return a != values;
                                });
                                 $("#selectedItem").val(selectedIds.join(','));*/

                                        var s = $("#selectedItem").val();
                                        if (s == values) {
                                        }
                                        var i = s.split(',');
                                        i = jQuery.grep(i, function (a) {
                                            return a != values;
                                        });
                                        $("#selectedItem").val(i.join(','));
                                    }
                                });
                            });
                        </script>
                    </div>
                    <table>
                        @Html.HiddenFor(m => m.selectedItem)
                        <tr>
                            <td>Phí cố định(vnd):</td>
                            <td>@Html.TextBoxFor(m => m.FixedFee)</td>
                        </tr>
                        <tr>
                            <td>Min weight(kg):</td>
                            <td>(chưa hoạt động) @Html.TextBoxFor(m => m.MinWeight) </td>
                        </tr>
                        <tr>
                            <td>Max weight(kg):</td>
                            <td>(chưa hoạt động) @Html.TextBoxFor(m => m.MaxWeight)</td>
                        </tr>
                        <tr>
                            <td>Phí cho từng đơn vị(fee/kg):</td>
                            <td>(chưa hoạt động) @Html.TextBoxFor(m => m.FeeOfUnit)</td>
                        </tr>
                    </table>
                    <input type="submit" class="btn btn-blue" value="@Resources.admin_common_save " />
                }
            </div>
        </div>
    </div>
</section>
