@model PagedList.IPagedList<PixelCMS.Core.Models.Post>
@using PixelCMS.Core.Models;
@using PagedList.Mvc;
@{
    int t = (int)ViewBag.Type;
    string lg = (string)ViewBag.CurrentLang;
    pixelcmsEntities db = new pixelcmsEntities();
    var posttype = db.PostTypes.FirstOrDefault(x => x.Id == t);
    var langlist = db.Languages.Where(x => x.Active == true).Select(x => new { x.Code, x.Flag, x.Order, x.Name }).OrderBy(x => x.Order).ToList();
    var currentculture = PixelCMS.Helpers.CultureHelper.GetCurrentNeutralCulture();
    var posttypename = db.PostType_Name.FirstOrDefault(x => x.Posttype_id == t && x.Lang == currentculture).Name;
    var catlist = db.Cats.Where(x => x.PostType.Id == t && x.Lang == lg).OrderBy(x => x.Order).ToList();
    ViewBag.Title = posttypename;
    ViewBag.PTitle = posttypename;
    ViewBag.PDescription = ViewBag.Description;
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-info" id="delete-success" style="display: none;">
    <i class="fa fa-exclamation-circle"></i>@posttypename @Resources.admin_status_deletedsuccessfully
</div>

<div class="alert alert-info" id="edit-success" style="display: none;">
    <i class="fa fa-exclamation-circle"></i>@Resources.admin_common_update @posttypename @Resources.admin_status_successfully
</div>

<div class="alert alert-info" id="create-success" style="display: none;">
    <i class="fa fa-exclamation-circle"></i>@Resources.admin_common_create @posttypename @Resources.admin_status_successfully
</div>

<div class="alert alert-info" id="copy-success" style="display: none;">
    <i class="fa fa-exclamation-circle"></i>@posttypename @Resources.admin_status_copiedsuccessfully
</div>

<section id="main">
    <div class="container" style="">
        <div class=" columns" style="width: 100%">
            <div class="head">
                <div class="isw-cloud"></div>
                <h1>@posttypename @if (ViewBag.Cat != null)
                                  {<span>/ @Resources.admin_content_category: @ViewBag.Cat</span>}</h1>

                <div class="clear"></div>
            </div>
            <div class="block-fluid table-sorting">
                <aside id="control">
                    <div>
                        @if (posttype.Has_Create == true && ViewBag.CreatePermission != "false")
                        {
                            if (langlist.Count > 1 && posttype.Has_Lang == true && posttype.Has_Parallel_Language == false)
                            { 
                            <a class="bnt" href="@Url.Action("Create", "Content", new { type = t, culture = ViewBag.CurrentLang })"><i class="fa fa-plus"></i>@Resources.admin_common_create @posttypename</a>
                            }
                            else
                            {
                            <a class="btn" href="@Url.Action("Create", "Content", new { type = t })"><i class="fa fa-plus"></i>@Resources.admin_common_create @posttypename</a>
                            }
                        }


                        @if (posttype.Has_Cat == true && ViewBag.CatView != "false")
                        {
                            {
                                if (langlist.Count > 1 && posttype.Has_Lang == true && posttype.Has_Parallel_Language == false)
                                { 
                            <a class="btn" href="@Url.Action("Index", "Cat", new { type = t, culture = ViewBag.CurrentLang })"><i class="fa fa-folder-open"></i>@Resources.admin_content_category @posttypename <i title="Quản lý chuyên mục con của @posttypename" class="fa fa-question-circle"></i></a>
                                }
                                else
                                {
                            <a class="btn" href="@Url.Action("Index", "Cat", new { type = t })"><i class="fa fa-folder-open"></i>@Resources.admin_content_category @posttypename <i title="Quản lý chuyên mục con của @posttypename" class="fa fa-question-circle"></i></a>
                                }
                            }
                        }

                    </div>
                </aside>

                @helper rendercat(Cat cat)
{
    pixelcmsEntities db = new pixelcmsEntities();
    int t = (int)ViewBag.Type;
    string lg = (string)ViewBag.CurrentLang;
    var catlist = db.Cats.Where(x => x.PostType.Id == t && x.Lang == lg).OrderBy(x => x.Order).ToList();
    foreach (var item in catlist.Where(x => x.Owner_Id == cat.Id))
    {
        string sp = "";
        for (int i = 0; i < item.Level; i++)
        {
            sp = sp + "--";
        }
                    <option value="@Url.Action("Index", "Content", new { type = t, cat = item.Id, culture = lg })">@sp @item.Name</option>
                    @rendercat(item)
    }
                }

                <div style="float: right;">
                    <input type="text" id="post-search" placeholder="Tìm kiếm: Nhập tên @posttypename" class="form-control" style="display: inline-block; min-width: 20%;"/>

                    @if (posttype.Has_Cat == true)
                    {
                        if (langlist.Count > 1 && posttype.Has_Lang == true && posttype.Has_Parallel_Language == false)
                        {
                        <select id="category" onchange="location = this.options[this.selectedIndex].value;" style="display: inline-block; min-width: 20%;">
                            <option>..Xem theo chuyên mục...</option>
                            <option value="@Url.Action("Index", "Content", new { type = t, culture = lg })">..Tất cả...</option>
                            @foreach (var item in catlist.Where(x => x.Owner_Id == null))
                            {
                                <option value="@Url.Action("Index", "Content", new { type = t, cat = item.Id, culture = lg })">@item.Name</option>
                                @rendercat(item)
                            
                            }
                        </select>
                        }
                        else
                        {
                        <select id="category" onchange="location = this.options[this.selectedIndex].value;" style="display: inline-block; min-width: 20%;">
                            <option>..Xem theo chuyên mục...</option>
                            <option value="@Url.Action("Index", "Content", new { type = t })">..Tất cả...</option>
                            @foreach (var item in catlist.Where(x => x.Owner_Id == null))
                            {
                                <option value="@Url.Action("Index", "Content", new { type = t, cat = item.Id })">@item.Name</option>
                                @rendercat(item)
                            }
                        </select>
                        }
                    }
                </div>

                @if (langlist.Count > 1 && posttype.Has_Lang == true && posttype.Has_Parallel_Language == false)
                {
                    <div class="lang-list">
                        @foreach (var item in langlist.OrderBy(x => x.Order))
                        {
                            if (item.Code == ViewBag.CurrentLang)
                            {
                            <a class="active" href="@Url.Action("Index", "Content", new { type = t, culture = item.Code })">
                                <img src="@item.Flag" />
                                @item.Name</a>
                            }
                            else
                            {
                            <a href="@Url.Action("Index", "Content", new { type = t, culture = item.Code })">
                                <img src="@item.Flag" />
                                @item.Name</a>
                            }
                        }
                    </div>
                }


                <table class="grid">
                    <tr class="button-submit-zone">
                        @if (posttype.Has_Title == true)
                        {
                            <th style="width: 15%">@Resources.admin_content_title
                            </th>
                        }
                        @if (posttype.Has_Cat == true)
                        {
                            <th>@Resources.admin_content_category
                            </th>
                        }
                        @if (posttype.Has_Thumb == true && posttype.Show_Thumb == true)
                        {
                            <th>
                                @Resources.admin_content_picture
                            </th>
                        }
                        @if (posttype.Has_Order == true)
                        {
                            <th width="50px">
                                @Resources.admin_content_order
                            </th>
                        }
                        @if (posttype.Has_Price == true)
                        {
                            <th>
                                @Resources.admin_content_price
                            </th>
                        }
                        @if (posttype.Has_oldprice)
                        {
                            <th>
                                @Resources.admin_content_oldprice
                            </th>  
                        }

                        @if (posttype.Has_User_Create == true)
                        {
                            <th>
                                @Resources.admin_content_author
                            </th>
                        }
                        @if (posttype.Has_Date_Create == true)
                        {
                            <th>@Resources.admin_content_createddate
                            </th>
                        }
                        @if (posttype.Has_Date_Edit == true)
                        {
                            <th>@Resources.admin_content_lastedit
                            </th>
                        }

                        @if (posttype.Has_Active == true)
                        {
                            <th width="50px">@Resources.admin_content_active
                            </th>
                        }

                        @if (posttype.Has_feature == true)
                        {
                            <th width="50px">@Resources.admin_content_feature
                            </th>
                        }

                        @if (posttype.Has_onsale == true)
                        {
                            <th width="50px">OnSale
                            </th>
                        }

                        @if (posttype.Has_New)
                        {
                            <th width="50px">New
                            </th>
                        }
                        <th width="130px"></th>
                    </tr>

                    @foreach (var item in Model.ToList())
                    {
                        <tr>
                            @if (posttype.Has_Title == true)
                            {
                                <td>
                                    <a href="@Url.Action("Edit", "Content", new { id = item.Id })" ><strong>@Html.DisplayFor(modelItem => item.Title)</strong></a>
                                </td>
                            }
                            @if (posttype.Has_Cat == true)
                            {
                                <td>
                                    @foreach (var cat in item.Cats)
                                    {
                                        @Html.DisplayFor(c => cat.Name)<br />
                                    }
                                </td>
                            }
                            @if (posttype.Has_Thumb == true && posttype.Show_Thumb == true)
                            {
                                <td>
                                    @if (item.Thumb != null)
                                    {
                                        <img src="@Html.Raw(item.Thumb.Replace("Upload/", "Upload/_Thumbs/"))" alt="" height="70" />
                                    }
                                </td>
                            }

                            @if (posttype.Has_Order == true)
                            {
                                <td style="width: 90px">
                                    @Html.TextBoxFor(modelItem => item.Order, new { id = "Order_" + item.Id, @class = "price", style = "float:left;width: 50px !important;", type = "number" })
                                    <img title="Cập nhật thứ tự" style="    margin-top: 7px;
    cursor: pointer;
    margin-left: 4px;" src="~/Areas/Admin/Content/icon/add.png" onclick="UpdatePrice(@item.Id,$('#Price_@item.Id').val(),$('#Order_@item.Id').val());" />
                                </td>
                            }
                            @if (posttype.Has_Price)
                            {
                                <td>
                                    @Html.TextBoxFor(modelItem => item.Price, new { id = "Price_" + item.Id, @class = "price", style = "float:left;width: 100px !important;", type = "number" })
                                    <img title="Cập nhật giá" style="    margin-top: 7px;
    cursor: pointer;
    margin-left: 4px;" src="~/Areas/Admin/Content/icon/add.png" onclick="UpdatePrice(@item.Id,$('#Price_@item.Id').val(),$('#Order_@item.Id').val());" />
                                </td>
                           
                            }
                            @if (posttype.Has_oldprice)
                            {
                                <td>
                                    @Html.DisplayFor(modelItem => item.Price_Old)
                                </td>
                            }

                            @if (posttype.Has_User_Create == true)
                            {
                                <td>
                                    @Html.DisplayFor(modelItem => item.User_Create)
                                </td>
                            }
                            @if (posttype.Has_Date_Create == true)
                            {
                                <td>
                                    @Html.DisplayFor(modelItem => item.Date_Create)
                                </td>
                            }
                            @if (posttype.Has_Date_Edit == true)
                            {
                                <td>
                                    @Html.DisplayFor(modelItem => item.Date_Edit)
                                    @if (posttype.Has_User_Edit == true)
                                    {

                                        if (item.User_Edit != null)
                                        {
                                        <span>bởi</span> @Html.DisplayFor(modelItem => item.User_Edit)
                                        }
                                    }
                                </td>
                            }


                            @if (posttype.Has_Active == true)
                            {
                                <td>
                                    @Html.DisplayFor(modelItem => item.Active)
                                </td>
                            }

                            @if (posttype.Has_feature == true)
                            {
                                <td>
                                    @Html.DisplayFor(modelItem => item.feature)
                                </td>
                            }

                            @if (posttype.Has_onsale == true)
                            {
                                <td>
                                    @Html.DisplayFor(modelItem => item.onsale)
                                </td>
                            }

                            @if (posttype.Has_New == true)
                            {
                                <td>
                                    @Html.DisplayFor(modelItem => item.newpost)
                                </td>
                            }

                            <td>
                                @if (ViewBag.EditPermission != "false")
                                {
                                    <a href="@Url.Action("Edit", "Content", new { id = item.Id })" class="btn btn-small"><i class="fa fa-pencil-square-o"></i>@Resources.admin_common_edit</a>
                                }

                                @if (ViewBag.DeletePermission != "false")
                                {
                                    <a href="@Url.Action("Delete", "Content", new { id = item.Id })" class="btn btn-small btn-red delete-link"><i class="fa fa-trash-o"></i>@Resources.admin_content_delete</a>
                                }


                                @if (langlist.Count == 1 && posttype.Has_Lang == false && posttype.Has_Parallel_Language == false && ViewBag.CreatePermission != "false")
                                {
                                    <a href="@Url.Action("Copy", "Content", new { id = item.Id })" class="btn btn-small"><i class="fa fa-files-o"></i>Copy</a>
                                }
                                else if (langlist.Count > 1 && posttype.Has_Lang == true && posttype.Has_Parallel_Language == false && ViewBag.CreatePermission != "false")
                                {
                                    <div class="btn btn-small copy-link dropdown-copylink">
                                        <a>
                                            <i class="fa fa-files-o"></i>Copy</a>
                                        <ul class="dropdown-menu">
                                            @foreach (var lang in langlist)
                                            {
                                                <li><a href="@Url.Action("Copy", "Content", new { id = item.Id, lang = lang.Code })">
                                                    <img src="@lang.Flag" title="@lang.Name" />
                                                    @lang.Name</a></li>
                                            }
                                        </ul>
                                    </div>
                                
                                }

                            </td>

                        </tr>
                    
                                if (db.Posts.FirstOrDefault(x => x.Owner_Id == item.Id) != null)
                                {
                        <tr>
                            <td colspan="100%" class="sublist-td">
                                @Html.Action("SubPostList", "Content", new { id = item.Id, deletepermission = ViewBag.DeletePermission, editpermission = ViewBag.EditPermission, createpermission = ViewBag.CreatePermission })
                            </td>
                        </tr>
                                }
                    }

                </table>

                @if (langlist.Count > 1 && posttype.Has_Lang == true && posttype.Has_Parallel_Language == false)
                {
                    <div>
                        <br />
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { type = t, cat = ViewBag.CatId, culture = ViewBag.CurrentLang, page }))
                        @Resources.common_viewingpage @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) (@Resources.common_in @Model.PageCount @Resources.common_page)
                    </div>
                }
                else
                {
                    <div>
                        <br />
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { type = t, cat = ViewBag.CatId, page }))
                        @Resources.common_viewingpage @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) (@Resources.common_in @Model.PageCount @Resources.common_page)
                    </div>
                }

            </div>
        </div>
    </div>
</section>


<div id="delete-dialog" title="@Resources.admin_common_confirm">
    <p>@Resources.admin_ask_suredelete @posttypename</p>
</div>

@section scriptsfooter{

    <script>
        var deleteLinkObj;
        // delete Link
        $('.delete-link').click(function () {
            deleteLinkObj = $(this);  //for future use
            $('#delete-dialog').dialog('open');
            return false; // prevents the default behaviour
        });
        $('#delete-dialog').dialog({
            autoOpen: false, width: 400, resizable: false, modal: true, //Dialog options
            buttons: {
                "OK": function () {
                    $.post(deleteLinkObj[0].href, function (data) {  //Post to action
                        if (data == '@Boolean.TrueString') {
                            deleteLinkObj.closest("tr").hide('fast'); //Hide Row
                            $("#delete-success:hidden:first").fadeIn("slow").delay(1500).fadeOut("slow");
                            //(optional) Display Confirmation
                        }
                        else {
                            //(optional) Display Error
                        }
                    });
                    $(this).dialog("close");
                },
                "@Resources.admin_common_back": function () {
                    $(this).dialog("close");
                }
            }
        });
    </script>

    @if (ViewBag.Status == "create-done")
    {
        <script>
            $("#create-success:hidden:first").fadeIn("slow").delay(1500).fadeOut("slow");
        </script>
    }
    else if (ViewBag.Status == "edit-done")
    { 
        <script>
            $("#edit-success:hidden:first").fadeIn("slow").delay(1500).fadeOut("slow");
        </script>
    }
    else if (ViewBag.Status == "copy-done")
    { 
        <script>
            $("#copy-success:hidden:first").fadeIn("slow").delay(1500).fadeOut("slow");
        </script>
    }


    <script type="text/javascript">
        var termTemplate = "<span class='ui-autocomplete-term'>%s</span>";
        var url = '@Url.Action("getpostlist", "Content", new { type = t })';
        $('#post-search').autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: url,
                    data: { query: request.term },
                    dataType: 'json',
                    type: 'GET',
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                label: item.Title,
                                value: item.Id,
                                //icon: item.Image.replace("Upload/", "Upload/_Thumbs/"),
                                //desc: item.Author,
                            };
                        }));
                    }
                });
            },
            select: function (event, ui) {
                window.location.href = "@Url.Action("Edit", "Content")/" + ui.item.value;
                return false;
            },
            minLength: 1
        })
            //.autocomplete("instance")._renderItem = function (ul, item) {
            //    item.label = item.label.replace(new RegExp("(?![^&;]+;)(?!<[^<>]*)(" + $.ui.autocomplete.escapeRegex(this.term) + ")(?![^<>]*>)(?![^&;]+;)", "gi"), "<strong>$1</strong>");
            //    return $("<li>")
            //      .append("<a href=\"/Admin/Content/Edit/" + item.label + "\">" + item.value + "</a>")
            //      .appendTo(ul);
            //};
            ;
    </script>
}

<!--price-->
<script>
    function UpdatePrice(id, price, order) {
        $.ajax({
            url: '@Url.Action("UpdatePrice")',
            type: "POST",
            data: { id: id, price: price, order: order },
            success: function (result) {
                if (result.success == true) {
                    $("#edit-success:hidden:first").fadeIn("slow").delay(1500).fadeOut("slow");
                }
            }
        });
    }
</script>
<style>
    .price
    {
        width: auto !important;
    }
</style>
