@model PixelCMS.Core.Models.UserProfile
@{
    ViewBag.Title = "Sửa tài khoản";
    ViewBag.PTitle = "Tài khoản";
    ViewBag.PDescription = "Quản lý tài khoản";
    ViewBag.LastCR = "<a href=\"" + @Url.Action("Index", "User") + "\">Tài khoản</a><span class=\"divider\">&nbsp;</span></li><li><a href=\"\">Sửa tài khoản</a><span class=\"divider-last\">&nbsp;</span></li>";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section id="main">
    <div class="container">
        <div class="head">
            <div class="isw-cloud"></div>
            <h1>Sửa tài khoản</h1>

            <div class="clear"></div>
        </div>
        <div class="block-fluid table-sorting" style="float: left; width: 100%;">
            <div class="sixteen columns">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(x => x.UserId)
                    @Html.HiddenFor(x => x.UserName)
                    <aside id="control">
                        <div>
                            <input type="submit" value="Sửa" class="btn btn-blue" />
                            <a href="@Url.Action("Index", "User")" class="btn"><i class="fa fa-chevron-left"></i>Quay lại</a>
                        </div>
                    </aside>
    
                    <table class="grid form-input">
                        <tr>
                            <th colspan="2">Chỉnh sửa thông tin tài khoản <span style="color: #f00">"@ViewBag.Username"</span></th>
                        </tr>

                        <tr>
                            <td colspan="2">
                                @Html.ValidationSummary()
                            </td>
                        </tr>
                        @*
                    <tr>
                        <td class="label">Mật khẩu</td>
                        <td>@Html.PasswordFor(m => m.NewPassword)</td>
                    </tr>

                    <tr>
                        <td class="label">Xác nhận Mật khẩu</td>
                        <td>@Html.PasswordFor(m => m.ConfirmPassword)</td>
                    </tr>*@
                        <tr>
                            <td class="label">Nhóm thành viên</td>
                            <td>@Html.DropDownList("RolesList")</td>
                        </tr>
                        @if (User.IsInRole("admin") || User.IsInRole("tkmadmin"))
                        {
                            <tr>
                                <td class="label">Email</td>
                                <td>@Html.EditorFor(m => m.Email)</td>
                            </tr>  
                        }

                    </table>

                }
            </div>
        </div>
    </div>
</section>

@Scripts.Render("~/bundles/jqueryval");
<script src="~/Scripts/messages_vi.js "></script>
<script>
    $("form").validate();
</script>
