@model PixelCMS.Core.Models.Menu
@using PixelCMS.Core.Models;
@{
    pixelcmsEntities db = new pixelcmsEntities();
    int langlist = db.Languages.Where(x => x.Active == true).Count();

    ViewBag.Title = Resources.admin_common_edit + " Menu";
    ViewBag.PTitle = "Menu";
    ViewBag.PDescription = "Quản lý Menu";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



<section id="main">
    <div class="container">
        <div class="head">
            <div class="isw-cloud"></div>
            <h1>@Resources.admin_common_edit Menu</h1>

            <div class="clear"></div>
        </div>
        <div class="block-fluid table-sorting" style="float: left; width: 100%;">
            <div class="sixteen columns">

                @using (Html.BeginForm())
                {
                    @Html.ValidationSummary(true)

                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.Lang)

                    <aside id="control">
                        <div>
                            <input type="submit" value="@Resources.admin_common_edit" class="btn btn-blue" />
                            <a href="@Url.Action("Index", "Menu")" class="btn"><i class="fa fa-chevron-left"></i>@Resources.admin_common_back</a>
                        </div>
                    </aside>
    
                    <table class="grid form-input">
                        <tr>
                            <th colspan="2">@Resources.admin_menu_infomation @if (langlist > 1)
                                                                             {<span>(Ngôn ngữ: @ViewBag.CurrentLangName
                                                           <img src="@ViewBag.CurrentLangFlag" />)</span>}</th>
                        </tr>

                        <tr>
                            <td class="label">@Resources.admin_menu_name</td>
                            <td>@Html.TextBoxFor(model => model.Name, new { minlength = "2", maxlength = "140", required = true })</td>
                        </tr>

                        @*<tr>
                        <td class="label">Code</td>
                        <td>@Html.TextBoxFor(model => model.Code, new { minlength = "2", maxlength = "50", required = true })</td>
                    </tr>*@

                        <tr>
                            <td class="label">@Resources.admin_menu_position</td>
                            <td>@Html.DropDownList("MenuPosition", "-- Chọn sau --")</td>
                        </tr>

                        <tr>
                            <td class="label">Field 1 (Browse @Resources.admin_content_picture)</td>
                            <td>@Html.EditorFor(m => m.Field_1_Enable)</td>
                        </tr>

                        <tr>
                            <td class="label">Field 1 (@Resources.admin_content_title)</td>
                            <td>@Html.TextBoxFor(m => m.Field_1_Label)</td>
                        </tr>

                        <tr>
                            <td class="label">Field 2 (TextArea (3000 ký tự))</td>
                            <td>@Html.EditorFor(m => m.Field_2_Enable)</td>
                        </tr>

                        <tr>
                            <td class="label">Field 2 (@Resources.admin_content_title)</td>
                            <td>@Html.TextBoxFor(m => m.Field_2_Label)</td>
                        </tr>

                        <tr>
                            <td class="label">Field 3 (Textbox (142 ký tự))</td>
                            <td>@Html.EditorFor(m => m.Field_3_Enable)</td>
                        </tr>

                        <tr>
                            <td class="label">Field 3 (@Resources.admin_content_title)</td>
                            <td>@Html.TextBoxFor(m => m.Field_3_Label)</td>
                        </tr>

                    </table>
    
                }
            </div>
        </div>
    </div>
</section>




@Scripts.Render("~/bundles/jqueryval");
<script src="~/Scripts/messages_vi.js "></script>
<script>
    $("form").validate();
</script>
