@model PixelCMS.Core.Models.LocalPasswordModel

<h3>Đổi mật khẩu</h3>

@using (Html.BeginForm("Manage", "Account"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="form-title"><i class="fa fa-play-circle"></i>Đổi mật khẩu</div>
    <div class="frow">
        <div class="form-left">Mật khẩu cũ : </div>
        <div class="form-right">@Html.PasswordFor(m => m.OldPassword)</div>
    </div>
    <div class="frow">
        <div class="form-left">Mật khẩu mới : </div>
        <div class="form-right">
            @Html.PasswordFor(m => m.NewPassword)
            <input id="gen" style="display: none; width: 47%; padding: 8px 10px; border: 1px solid #ccc; border-radius: 3px;" />
        </div>
    </div>
    
    <div class="frow">
        <div class="form-left">
            Tạo pass tự động : 
        </div>
        <div class="form-right">
            <button onclick="rand()" type="button">Generate</button>
            <button id="sh" type="button">Show</button>
        </div>
    </div>
    
    <div class="frow">
        <div class="form-left">Xác nhận mật khẩu mới : </div>
        <div class="form-right">@Html.PasswordFor(m => m.ConfirmPassword)</div>
    </div>
    <div class="frow">
        <div class="form-left">
            <button type="reset">Hủy</button>
        </div>
        <div class="form-right">
            <button type="submit">Lưu</button>
        </div>
    </div>
@* <div align="center"><a class="btn btn-create" href="/admin/" style="color: #9f9f9f">Quay lại trang admin</a></div>*@
}

<script>
    $(function () {
        $("#sh").click(function () {
            $("#gen").toggle();
            $("#NewPassword").toggle();
            if ($(this).html()=="Show") {
                $(this).html("Hide");
            } else {
                $(this).html("Show");
            }
        });
    });

    function rand() {
        $("#gen").val(generateRandStr());
        $("#NewPassword").val($("#gen").val());
        $("#ConfirmPassword").val($("#gen").val());
    }
    function generateRandStr() {
        var candidates = "ABCDEFGHIJKLMNOPQRSTUVWXY123456789!@@#$%^&*";
        var result = "", rand;
        for (var i = 0; i < 3; i++) {
            for (var j = 0; j < 3; j++) {
                rand = Math.floor(Math.random() * candidates.length);
                result += candidates.charAt(rand);
            }
            /* if (i != 2){
                 result += "";
             }*/
        }
        return result;
    }
</script>
