@{
    ViewBag.Title = "Chi tiết đơn hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
    pixelcmsEntities db = new pixelcmsEntities();
    var currentlang = db.Languages.Where(x => x.Active == true).OrderBy(x => x.Order).FirstOrDefault().Code;
}
@using PixelCMS.Core.Models
@model IEnumerable<PixelCMS.Core.Models.Order_Details>

@section css{
    @* <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">*@
    <link href="/Theme/custom/css/default.css" rel="stylesheet" type="text/css">
    <link href="/Theme/custom/css/account.css" rel="stylesheet" type="text/css">
    @*<link href="/Theme/custom/css/form.css" rel="stylesheet" type="text/css">*@
}
<div class="container">
    <div class="product-detail">
        <div class="wrap-page cf">
            @Html.Partial("_MenuLeft")<!-- End aside-infomation -->
            <div class="main-account float-right">
                <div class="tbl cart-detail">
                    <div class="tbl-head">
                        <ul class="cf">
                            <li class="product">@Resources.cart_productname</li>
                            <li class="quantity">@Resources.cart_quantity</li>
                            <li class="price">@Resources.cart_unitprice</li>
                        </ul>
                    </div>
                    <!-- End tbl-head -->
                    <div class="tbl-body">
                        @{decimal total = 0;}
                        @foreach (var item in Model)
                        {
                            <ul class="cf">
                                <li class="product"><a href="@Html.Action("LoadURL", "Common", new { area = "", type = "post", id = item.Product_Id, culture = currentlang })" target="_blank">@item.Product_Name</a></li>
                                <li class="quantity">@item.Quantity</li>
                                <li class="price">@(((decimal)item.Unit_Price).ToString("N0")) ₫</li>
                            </ul>
                            total += ((decimal)item.Quantity * (decimal)item.Unit_Price);
                        }
                    </div>
                    <!-- End tbl-body -->
                    <div class="tbl-foot">
                        <ul class="cf">
                            <li class="total"><strong>@Resources.cart_total</strong></li>
                            <li class="total-price"><strong>@total.ToString("N0") ₫</strong></li>
                        </ul>
                    </div>
                    <!-- End tbl-foot -->
                </div>
                <!-- End tbl -->
            </div>
            <!-- End main-account -->
        </div>
    </div>
</div>
<!-- End wrap-page -->
@*<script src="/Theme/custom/js/TemScript.js"></script>*@