@model PixelCMS.Core.Models.Cat
@using PixelCMS.Core.Models;
@{
    int t = (int)ViewBag.Type;
    pixelcmsEntities db = new pixelcmsEntities();
    var posttype = db.PostTypes.Find(t);

    var currentculture = @PixelCMS.Helpers.CultureHelper.GetCurrentNeutralCulture();
    var posttypename = db.PostType_Name.FirstOrDefault(x => x.Posttype_id == t && x.Lang == currentculture).Name;

    var langs = db.Languages.Where(x => x.Active == true).ToList();
    int langlist = langs.Count();

    ViewBag.Title = Resources.admin_common_create + " " + Resources.admin_content_category + " " + posttypename;
    ViewBag.PTitle = Resources.admin_content_category + " " + posttypename;
    ViewBag.PDescription = Resources.admin_content_managecategory + " " + posttypename;
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    
    <script src="~/Content/ckeditor/ckfinder/ckfinder.js"></script>
    <script src="~/Areas/Admin/Content/js/script.js"></script>
}


<section id="main">
    <div class="container">
        <div class="sixteen columns">
            <h1><i class="fa fa-folder-open"></i>@Resources.admin_content_category @posttypename</h1>


            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true)

                <aside id="control">
                    <div>
                        <input type="submit" value="@Resources.admin_common_create" class="btn btn-blue" />
                        <a href="@Url.Action("Index", "Cat", new { type = t })" class="btn"><i class="fa fa-chevron-left"></i>@Resources.admin_common_back</a>
                    </div>
                </aside>
    

                <table class="grid form-input">
                    <tr>
                        <th colspan="2">@Resources.admin_common_create @Resources.admin_content_category @posttypename @if (langlist > 1 && posttype.Has_Parallel_Language == false)
                                                                                                                       {<span>(@Resources.admin_content_language: @ViewBag.CurrentLangName
                                                                                                                           <img src="@ViewBag.CurrentLangFlag" />)</span>}</th>
                    </tr>

                    @if (langlist > 1 && posttype.Has_Parallel_Language == true)
                    {
                
                        <tr>
                            <td colspan="2">
                                <ul class="tabs-nav">
                                    <li class="active"><a href="#tab-@ViewBag.CurrentLangCode">
                                        <img src="@ViewBag.CurrentLangFlag" />
                                        @ViewBag.CurrentLangName</a></li>

                                    @foreach (var lang in langs.Where(x => x.Code != ViewBag.CurrentLangCode))
                                    {
                                        <li><a href="#tab-@lang.Code">
                                            <img src="@lang.Flag" />
                                            @lang.Name</a></li>
                                    }
                                </ul>

                                <div class="tabs-container">
                                    <div class="tab-content" id="tab-@ViewBag.CurrentLangCode">
                                        <table class="grid form-input">
                                            <tr>
                                                <td class="label">@Resources.admin_content_title</td>
                                                <td>@Html.TextBoxFor(model => model.Name, new { minlength = "5", maxlength = "140", required = true })</td>
                                            </tr>

                                            <tr>
                                                <td class="label">@Resources.admin_content_friendlyurl</td>
                                                <td>
                                                    <input type="text" name="Slug" id="Slug" readonly="readonly" required="required" /></td>
                                            </tr>

                                            @if (posttype.Has_CatDescription == true)
                                            { 
                                                <tr>
                                                    <td class="label">@Resources.admin_content_description</td>
                                                    <td>@Html.TextAreaFor(model => model.Description, new { rows = "5", minlength = "5", maxlength = "1024" })</td>
                                                </tr>
                                            }
                                        </table>
                                    </div>
                                    @foreach (var lang in langs.Where(x => x.Code != ViewBag.CurrentLangCode))
                                    {
                                        <div class="tab-content" id="tab-@lang.Code">
                                            <table class="grid form-input">
                                                <tr>
                                                    <td class="label">@Resources.admin_content_title</td>
                                                    <td>
                                                        <input id="Name-@lang.Code" maxlength="140" minlength="5" name="Name-@lang.Code" required="True" type="text" value="" /></td>
                                                </tr>

                                                <tr>
                                                    <td class="label">@Resources.admin_content_friendlyurl</td>
                                                    <td>
                                                        <input type="text" name="Slug-@lang.Code" id="Slug-@lang.Code" readonly="readonly" required="required" /></td>
                                                </tr>
                                                @if (posttype.Has_CatDescription == true)
                                                { 
                                                    <tr>
                                                        <td class="label">@Resources.admin_content_description</td>
                                                        <td>
                                                            <textarea cols="20" id="Description-@lang.Code" maxlength="1024" minlength="5" name="Description-@lang.Code" rows="5"></textarea></td>
                                                    </tr>
                                                }
                                            </table>
                                        </div>
                                    }

                                </div>

                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td class="label">@Resources.admin_content_title</td>
                            <td>@Html.TextBoxFor(model => model.Name, new { minlength = "1", maxlength = "140", required = true })</td>
                        </tr>

                        <tr>
                            <td class="label">@Resources.admin_content_friendlyurl</td>
                            <td>
                                <input type="text" name="Slug" id="Slug" readonly="readonly" required="required" /></td>
                        </tr>
                        if (posttype.Has_CatDescription == true)
                        { 
                        <tr>
                            <td class="label">@Resources.admin_content_description</td>
                            <td>@Html.TextAreaFor(model => model.Description, new { rows = "5", minlength = "5", maxlength = "1024" })</td>
                        </tr>
                        }
                    }


                    <tr>
                        <td class="label">@Resources.admin_content_order</td>
                        <td>@Html.EditorFor(model => model.Order)</td>
                    </tr>
                    @if (posttype.Active_Position == true)
                    {
                        <tr>
                            <td class="label">@Resources.admin_menu_position</td>
                            <style>
                                .radio
                                {
                                    float: left;
                                }
                            </style>
                            <td>
                                @Html.RadioButtonFor(model => model.Position, "0", new { id = 0, @checked = "checked", @class = "radio" })
                                <label class="radio" for="0">Không</label>
                                @Html.RadioButtonFor(model => model.Position, "1", new { id = 1, @class = "radio" })
                                <label class="radio" for="1">4 box trang chủ(1)</label>
                                @Html.RadioButtonFor(model => model.Position, "2", new { id = 2, @class = "radio" })
                                <label class="radio" for="2">Tin(2)</label>
                                @Html.RadioButtonFor(model => model.Position, "3", new { id = 3, @class = "radio" })
                                <label class="radio" for="3">6 box tại sao (3)</label>
                                @Html.RadioButtonFor(model => model.Position, "4", new { id = 4, @class = "radio" })
                                <label class="radio" for="4">Tin tức trang chủ (4)</label>
                                @Html.RadioButtonFor(model => model.Position, "6", new { id = 6, @class = "radio" })
                                <label class="radio" for="6">Sản phẩm trang chủ(6)</label>
                            </td>
                        </tr>
                    }
                    @if (posttype.Has_Active == true)
                    { 
                        <tr>
                            <td class="label">@Resources.admin_content_active</td>
                            <td>@Html.CheckBoxFor(model => model.Active, new { @checked = "checked" })</td>
                        </tr>
                    }

                    <tr>
                        <td class="button-submit-zone" colspan="2">@Resources.admin_content_info</td>
                    </tr>

                    <tr>
                        <td class="label">@Resources.admin_content_category @Resources.admin_content_owner</td>
                        <td>@Html.DropDownList("Owner_Id", "--- Chuyên mục gốc ---")</td>
                    </tr>

                    @if (posttype.Has_CatImage == true)
                    { 
                        <tr>
                            <td class="label">@Resources.admin_content_category @Resources.admin_posttype_categoryimage</td>
                            <td>@Html.EditorFor(model => model.Image)
                                <input type="button" id="BrowseURL-Thumb" value="@Resources.admin_content_browsepicture" class="btn btn-file" />
                            </td>
                        </tr>
                    }

                    @if (posttype.Has_CatBanner == true)
                    { 
                        <tr>
                            <td class="label">@Resources.admin_content_category Banner</td>
                            <td>@Html.EditorFor(model => model.Banner_Image)
                                <input type="button" id="BrowseURL-Banner" value="@Resources.admin_content_browsepicture" class="btn btn-file" />
                            </td>
                        </tr>
                    }

                    @if (posttype.Has_Catfeature == true)
                    { 
                        <tr>
                            <td class="label">@Resources.admin_cat_feature</td>
                            <td>@Html.EditorFor(model => model.Feature)</td>
                        </tr>
                    }

                    @if (posttype.Has_Meta == true)
                    {
                        <tr>
                            <td class="button-submit-zone" colspan="2">SEO</td>
                        </tr>

                        <tr>
                            <td class="label">@Resources.admin_content_keyword</td>
                            <td>@Html.TextAreaFor(model => model.Meta_Key, new { rows = "2" })</td>
                        </tr>

                        <tr>
                            <td class="label">@Resources.admin_content_metadescription</td>
                            <td>@Html.TextAreaFor(model => model.Meta_Description, new { rows = "2" })</td>
                        </tr>


                        if (ViewBag.HeaderHtml_Per != "false")
                        {
                        <tr>
                            <td class="label">@Resources.admin_content_advancetitle</td>
                            <td>@Html.TextAreaFor(model => model.Html_Head, new { rows = "2" })</td>
                        </tr>
                        }
                    }

                </table>
    
            }
        </div>
    </div>
</section>




<script>
    SeoUrl("#Name", "#Slug")
</script>

@if (langlist > 1 && posttype.Has_Parallel_Language == true)
{
    foreach (var lang in langs.Where(x => x.Code != ViewBag.CurrentLangCode))
    {
    <script>
        SeoUrl("#Name-@lang.Code", "#Slug-@lang.Code")
    </script>
    }
}

@Scripts.Render("~/bundles/jqueryval");
<script src="~/Scripts/messages_vi.js "></script>
<script>
    $("form").validate();
</script>

@if (posttype.Has_CatImage == true)
{ 
    <script language="javascript" type="text/javascript">
        $(function () {
            $("#BrowseURL-Thumb").click(function () {
                var ckfinder = new CKFinder({ resourceType: 'Images' });
                ckfinder.selectActionFunction = function (fileUrl) {
                    $("#Image").val(fileUrl)
                };
                ckfinder.popup();
            });
        });
    </script>
}

@if (posttype.Has_CatBanner == true)
{ 
    <script language="javascript" type="text/javascript">
        $(function () {
            $("#BrowseURL-Banner").click(function () {
                var ckfinder = new CKFinder({ resourceType: 'Images' });
                ckfinder.selectActionFunction = function (fileUrl) {
                    $("#Banner_Image").val(fileUrl)
                };
                ckfinder.popup();
            });
        });
    </script>
}