@model PagedList.IPagedList<PixelCMS.Core.Models.Post>
@using PagedList.Mvc;
@using PixelCMS.Core.Models;
@{
    pixelcmsEntities db = new pixelcmsEntities();
    var currentlang = PixelCMS.Helpers.CultureHelper.GetCurrentNeutralCulture();

    var count = Request.Url.Segments.Count();
    var slug = Request.Url.Segments[count - 1];
    var fullslug = db.Slugs.FirstOrDefault(x => x.Slug_Full == slug);

    if (ViewBag.CatTitle != null)
    {
        ViewBag.Title = ViewBag.CatTitle;
    }
    else
    {
        //ViewBag.Title = ViewBag.CategoryCurrent;
        ViewBag.Title = ViewBag.TypeName;
    }

    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Metas {
    @if (ViewBag.CatKey != null)
    {
        <meta name="keywords" content="@ViewBag.CatKey" />
    }
    @if (ViewBag.CatDescription != null)
    {
        <meta name="description" content="@ViewBag.CatDescription" />
    }
    @if (ViewBag.CatHead != null)
    {
        @Html.Raw(ViewBag.CatHead)
    }
}
@section adminpanel{
    @if (User.IsInRole("tkmadmin") || User.IsInRole("rootadmin"))
    {

        @Html.Action("AdminPanel", "Common")
    }
}


<div class="banner-subpage" id="main_slide">
    <!--Slide Banner-->
    <div id="slide_banner">
       @Html.Action("HomeSlideMobile", "Widget")
    </div>
    <!--end Slide Banner-->
    <!--Breadcrumb-->
    <div class="top-heading">
        <h1 class="heading-page">@ViewBag.TypeName</h1>
        @Html.Action("Breadcrumb", "Common", new { breadcrumb = ViewBag.BreadCrumb })
    </div>
    <!--end Breadcrumb-->
</div>
<!--Brands-->
<section id="page-brands">
    <div class="container">
        @Html.Action("slideDoiTac", "Widget")

        @*<div class="tabs slide-brands slide-general">
            @{ int count2 = 0;}
            @foreach (var item1 in Model)
            {
                count2++;
                <div class="item"> <a href="#anchor@(count2)" title="Brands"><img src="@item1.Thumb" alt="Brands" title="Brands" /></a> </div>
            }
        </div>*@

        <div class="tabcontents bands-content">
            @{ int count1 = 0;}
            @foreach (var item in Model)
            {
                count1++;
                /* Parallel Lang */
                if (item.Lang != currentlang)
                {
                    /* Parallel Lang */
                    var itemlang = db.Posts.FirstOrDefault(x => x.Lang == currentlang && x.MainLang_Id == item.Id);
                    if (itemlang != null)
                    {
                        item.Id = itemlang.Id;
                        item.Title = itemlang.Title;
                        item.Description = itemlang.Description;
                        item.Content = itemlang.Content;
                    }
                }
                /* End Parallel Lang */
                var modelurl = Html.Action("LoadURL", "Common", new { type = "post", id = item.Id });
                     <!--Brand Item-->
                <div class="tab-item brand-item" id="anchor@(count1)">
                    <figure class="img-brand fl"><img src="@item.Thumb" alt="" title="" /></figure>
                    <div class="brand-info">
                        <h2>@item.Title @Html.Action("AdminEdit", "Common", new { id = item.Id })</h2>
                        <p class="info-brand">@item.Description</p>
                        @Html.Raw(item.Content)
                    </div>
                </div>
            <!--end Brand Item-->
            }
        </div>
    </div>
</section>


