@using PixelCMS.Core.Models
@model PixelCMS.Core.Models.Post

@{
    if (Model.Meta_Title != null)
    {
        ViewBag.Title = Model.Meta_Title;
    }
    else
    {
        ViewBag.Title = Model.Title;
    }
}
@{
    pixelcmsEntities db = new pixelcmsEntities();
    var url = Request.Url;
    var imagelink = db.MediaFiles.Where(x => x.Post.Id == Model.Id).OrderBy(o => o.Order).ToList();    
}
<head>
    <meta charset="utf-8">
    <title>SUKA.VN</title>
    <script src="~/Scripts/jquery-1.8.2.js"></script>
    @*<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>*@
    <script src="/Theme/libs/jqueryui/jquery-ui.js"></script>

    <script src="/Theme/js/bootstrap.min.js"></script>
    <script src="/Theme/js/wow.min.js"></script>
    <script src="/Theme/libs/bxslider/jquery.bxslider.min.js"></script>
    @* <script type="text/javascript" src="/Theme/js/jquery.carouFredSel-6.2.0-packed.js"></script>
    <script type="text/javascript" src="/Theme/js/jquery.touchSwipe.min.js"></script>*@
    <script src="/Theme/js/price-range.js"></script>
    <script src="/Theme/libs/fancybox/jquery.fancybox.js"></script>
    @*<script src="/Theme/libs/jcarousel/jquery.jcarousel.min.js"></script>*@

    <!-- jCarousel -->
    <script src="/Theme/libs/jcarousel/jquery.jcarousel.pack.js"></script>
    <!-- jqZoom -->
    <script src="/Theme/libs/jqzoom/jquery.jqzoom-core.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            //jCarousel Plugin
            $('#carousel').jcarousel({
                vertical: true,
                scroll: 1,
                auto: 4,
                wrap: 'last',
                initCallback: mycarousel_initCallback
            });

            //Front page Carousel - Initial Setup
            $('div#slideshow-carousel a img').css({ 'opacity': '0.8' });
            $('div#slideshow-carousel a img:first').css({ 'opacity': '1.0' });
            $('div#slideshow-carousel li a:first').append('<span class="arrow"></span>')


            //Combine jCarousel with Image Display
            $('div#slideshow-carousel li a').hover(
                function () {

                    if (!$(this).has('span').length) {
                        $('div#slideshow-carousel li a img').stop(true, true).css({ 'opacity': '0.8' });
                        $(this).stop(true, true).children('img').css({ 'opacity': '1.0' });
                    }
                },
                function () {

                    $('div#slideshow-carousel li a img').stop(true, true).css({ 'opacity': '0.8' });
                    $('div#slideshow-carousel li a').each(function () {

                        if ($(this).has('span').length) $(this).children('img').css({ 'opacity': '1.0' });

                    });

                }
            ).click(function () {

                $('span.arrow').remove();
                $(this).append('<span class="arrow"></span>');
                $('div#slideshow-main li').removeClass('active');
                $('div#slideshow-main li.' + $(this).attr('rel')).addClass('active');

                return false;
            });
        });

        //Carousel Tweaking

        function mycarousel_initCallback(carousel) {

            // Pause autoscrolling if the user moves with the cursor over the clip.
            carousel.clip.hover(function () {
                carousel.stopAuto();
            }, function () {
                carousel.startAuto();
            });
        }

    </script>

    <script src="/Theme/js/script.js"></script>

    <link rel="stylesheet" href="/Theme/libs/jqueryui/jquery-ui.css">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/Theme/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/Theme/css/style.css" rel="stylesheet" type="text/css">
    <link href="/Theme/libs/bxslider/jquery.bxslider.css" rel="stylesheet" type="text/css">
    <link href="/Theme/css/hover.css" rel="stylesheet" type="text/css">
    <link href="/Theme/css/price-range.css" rel="stylesheet">
    <link href="/Theme/libs/fancybox/jquery.fancybox.css" rel="stylesheet" type="text/css">

    <!-- jCarousel -->
    <link href="/Theme/libs/jcarousel/jquery.jcarousel.css" rel="stylesheet" type="text/css">
    <link href="/Theme/libs/jcarousel/skin.css" rel="stylesheet" type="text/css">
    <link href="/Theme/libs/jcarousel/vertical.jcarousel.css" rel="stylesheet" type="text/css">
    <!-- jqZoom -->
    <link href="/Theme/libs/jqzoom/jquery.jqzoom.css" rel="stylesheet" type="text/css">
    
    <script src="/Scripts/custom.js"></script>
</head>
<section class="main" style="overflow: auto">
    <div class="container" style="overflow: auto">

        <section class="row mini-detail">
            
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6" style="margin-bottom: 40px;">
                <div id="slideshow-carousel">

                     <ul id="carousel" class="jcarousel jcarousel-skin-tango">
                        @if (!string.IsNullOrEmpty(Model.Thumb))
                        {
                            <li><a class="zoomThumbActive" href='javascript:void(0);' rel="p@(Model.Id)">
                                <img src="@Model.Thumb.Replace("Upload/", "Upload/_Thumbs/")" width="100" height="150" alt="#"/></a></li>
                        }
                        @if (imagelink.Count > 0)
                        {
                            foreach (var image in imagelink)
                            {
                                if (!string.IsNullOrEmpty(@image.URL))
                                {
                            <li><a class="thum_@(image.Id)" href='javascript:void(0);' rel="p@(image.Id)">
                                <img src="@image.URL.Replace("Upload/", "Upload/_Thumbs/")" width="100" height="150" alt="#" /></a></li>
                                }

                            }
                        }

                    </ul>
                </div>

                <div id="slideshow-main">
                    <ul>
                        @if (!string.IsNullOrEmpty(Model.Thumb))
                        {
                            <li class="p@(Model.Id) active">
                                <a href="@Model.Thumb" class="jqzoom" rel='p@(Model.Id)'>
                                    <img src="@Model.Thumb"  width="400" height="600" alt="" />
                                </a>
                            </li>
                        }
                        @if (imagelink.Count > 0)
                        {
                            foreach (var image in imagelink)
                            {
                                if (!string.IsNullOrEmpty(@image.URL))
                                {
                            <li class="p@(image.Id)">
                                <a href="@image.URL" class="jqzoom" rel='p@(image.Id)'>
                                    <img src="@image.URL" width="400" height="600" alt="" />
                                </a>
                            </li>     
                                }
                            }
                        }
                    </ul>
                </div>
                <!-- End slideshow main -->

            </div>
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6" style="margin-bottom: 40px;">
                <div id="tabMiniDetail" role="tabpanel">
                    <!-- Nav tabs -->
                    <ul id="tabMiniDetailNav" class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#miniInfo" aria-controls="miniInfo" role="tab" data-toggle="tab">THÔNG TIN SẢN PHẨM</a>
                        </li>
                        <li role="presentation">
                            <a href="#miniPolicies" aria-controls="miniPolicies" role="tab" data-toggle="tab">QUY ĐỊNH ĐỔI TRẢ HÀNG</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="miniInfo">
                            <div class="title">@Model.Title</div>
                            <div class="share-post">
                                <div class="fb-like" data-href="@url" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
                            </div>
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">Thương hiệu :</label>
                                    <div class="col-xs-9">
                                        <span>@(Model.Product.Manufacturer != null ? Model.Product.Manufacturer.Name : "")</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">Mã hàng(SKU) :</label>
                                    <div class="col-xs-9">
                                        <span>@Model.Product.SKU</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">Tình trạng :</label>
                                    <div class="col-xs-9">
                                        @if (Model.Product.Inventories.FirstOrDefault(z => z.Agent_Id == 1).Quantity <= Model.Product.Inv_min_Quantity)
                                        {
                                            <span class="label label-danger">Hết hàng</span>
                                        }
                                        else
                                        {
                                            <span class="label label-success">Còn hàng</span>
                                        }
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">Giá bán :</label>
                                    <div class="col-xs-9">
                                        <span class="label label-primary mini-detail-price">@string.Format("{0:0,0}", Model.Price) đ</span>
                                    </div>
                                </div>
                                @* xét biến thể*@
                                @Html.Partial("~/Views/Widget/_VariantCombination.cshtml")
                                @*<div class="form-group">
                                    <label class="col-xs-3 control-label">Số lượng :</label>
                                    <div class="col-xs-9">
                                        <input class="choose-quantity form-control input-sm" type="text" value="1">
                                    </div>
                                </div>*@
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        @if (Model.Product != null)
                                        {
                                            if (Model.Product.Inventories.FirstOrDefault(z => z.Agent_Id == 1).Quantity <= Model.Product.Inv_min_Quantity)
                                            {
                                            <button type="button" class="btn btn-buy">
                                                <span class="fa fa-shopping-cart product-icon hidden-sm hidden-md"></span>
                                                <span>Hết hàng</span>
                                            </button>
                                            }
                                            else
                                            {
                                                if (Model.VariantAttributes.Where(x => x.Active).Count() > 0)
                                                {
                                            <button type="button" class="btn btn-buy" onclick="AddToCart(@Model.Id,$('#Attribute').val())">
                                                <span class="fa fa-shopping-cart product-icon hidden-sm hidden-md"></span>
                                                <span>MUA NGAY</span>
                                            </button>
                                                }
                                                else
                                                {
                                            <button type="button" class="btn btn-buy" onclick="AddToCart(@Model.Id)">
                                                <span class="fa fa-shopping-cart product-icon hidden-sm hidden-md"></span>
                                                <span>MUA NGAY</span>
                                            </button>
                                                }
                                            }
                                        }

                                    </div>
                                </div>
                            </form>
                            <div class="bs-component">
                                <div class="alert alert-dismissable alert-success">
                                    <button class="close" data-dismiss="alert" type="button">×</button>
                                    <p>Hoặc gọi cho chúng tôi để được tư vấn tốt hơn : <strong>@Html.Action("LoadOption", "Common", new { code = "contact-phone" })</strong></p>
                                </div>
                            </div>
                        </div>
                        <!-- End miniInfo -->
                        <div role="tabpanel" class="tab-pane fade" id="miniPolicies">
                            <!-- Nội dung động quy định đổi trả hàng-->
                            @Html.Action("LoadAttribute", "Common", new { code = "tknh-pvc", id = Model.Id })
                            <!-- /Nội dung động -->
                        </div>
                    </div>
                </div>
                <!-- End tabpanel -->
            </div>

        </section>

    </div>
    <!-- End container -->
</section>
 <div class="alert alert-info" id="alert-cart" style="background-color: #d9edf7; display: none; position: fixed; top: 0px; left: 0px; width: 100%; text-align: center; z-index:8999">
    </div>
    <div style="position: fixed; top: 50%; left: 50%; display: none;"
        id="loading">
        <img src="~/Content/adminpanel/loading-image.gif" />
    </div>
    <script>
        //jquery-1.8.2.js level up
        $("#loading").ajaxStart(function () {
            $(this).show();
        });
        $("#loading").ajaxComplete(function () {
            $(this).hide();
        });
    </script>